
.navbarContainer{
  background-color: var(--color_background_light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.25rem;
}

.navbarHeader
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarHeader svg
{
  font-size: 1.5rem;
}

.navListItems ul li
{
  list-style: none;
  text-align: center;
  margin: 0.85rem 0;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 0.05px solid var(--color_accent_light);
}
.navListItems ul li a, .navProfile a
{
  padding: 1.25rem 2.85rem;
  text-decoration: none;
  width: 100%;
  color: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navListItems ul li a.active
{
  color: var(--color_secondary);
  font-weight: 600;
}

.navProfile
{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--color_primary);
  color: var(--color_accent_light);
  cursor: pointer;
  border-radius: 0.25rem;
  min-width: calc(var(--w) - 50px);
}


.navProfile svg
{
  margin-right: 0.5rem;
}