.profileContainer
{
    padding: 2.5rem;
    border: 2px solid var(--color_secondary_light);
    margin: 0.85rem 0;
}
.profileBar
{
    display: flex;
    align-items: start;
    line-height: 1.8;
}
.profileBar img
{
    --w: 180px;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
}
.profileBar .userBasicInfo
{
    padding: 0.85rem 2rem;
}
.profileBar .userBasicInfo p
{
    display: flex;
    align-items: center;
}


.userDetails
{
    padding:1.5rem 0;
}
.contacts
{
    display: flex;
    align-items: baseline;
    line-height: 1.5;
}
.contacts .linksContainer{
    padding: 0 10rem;
}

.contacts .linksContainer .anchors
{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height: 100px;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
}

.contacts .linksContainer .anchors a
{
    text-decoration: none;
}

.contacts .linksContainer .anchors a:hover
{
    cursor: pointer;
    text-decoration: underline;
}
.sectionHeading
{
    font-size: calc(var(--font_size_regular) + 0.15rem) ;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

/* skills */

.skills
{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem ;
}
.skills p
{
    background-color: var(--color_secondary_light);
    padding: 0.85rem 1.5rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

/* education container */

.edInnerContainer
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px ;
}

.edInnerContainer .udBox .smTxt
{
    font-weight: bold;
    color: var(--color_secondary);
    margin: 1rem 0 0.35rem;
    text-transform: uppercase;
    opacity: 0.6;
}

.edInnerContainer .edHeader
{
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 0;
    font-weight: 600;
}