.templateCards
{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.templateCard
{
    border:2px solid var(--color_secondary) ;
    border-radius: 0.5rem;
    padding:2rem;
}

.templateHeading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.templateInfo .regTxt
{
    font-weight: 500;
}

.templateLogo
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.copy
{
    background-color: var(--color_secondary_light);
    --w: 50px;
    width: var(--w);
    height: var(--w);
    border-radius: 0.35rem;
    cursor: pointer;
}
.copy svg
{
    margin: 0;
}


.templateUpdateDetails
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.templateLogo div 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.templateLogo div:hover
{
    background-color: var(--color_secondary_light);
    cursor: pointer;
    border-radius: 0.25rem;
}
.templateUpdateDetails svg
{
    margin: 0;
}