@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bebas+Neue&family=Space+Grotesk:wght@300..700&display=swap');
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color_background: #fff;
  --color_background_light: rgba(70, 74, 138, 0.1);
  
  --color_primary: #1C2071;
  --color_secondary: #464A8A;
  --color_secondary_light: #878bc73b;
  --color_secondary_light: #D9D9D9;

  --color_success: #0E7600;
  --color_danger: #F53535;
  --color_accent_light: #D9D9D9;

  --font_size_large:2rem;
  --font_size_medium:1.75rem;
  --font_size_regular:1.05rem;
  --font_size_small:0.9rem;
  --font_size_nano:0.75rem;
  --home_main_text_size: 6vh;

  --font_weight_large: 700;
  --font_weight_medium: 600;

  --font_family_primary: "Sora","DM Sans", sans-serif;
  --font_family_secondary: "Space Grotesk", sans-serif;;

  --padding_regular: 1rem;
  --sides_padding : 15vw;

  --svg_size: 1.35rem;
}



body
{
  background: var(--color_background);
  font-family: var(--font_family_primary);
  font-size: var(--font_size_regular);
  color: var(--color_primary);
}

.lgTxt{
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_large);
}

.mdTxt{
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
}
.regTxt{
  font-size: var(--font_size_regular);
}

.smTxt{
  font-size: var(--font_size_small);
}
.nanoTxt{
  font-size: var(--font_size_nano);
}
.homeMainTxt
{
  font-size: var(--home_main_text_size); 
  font-family:var(--font_family_secondary) ;
  font-style: normal;
}

svg
{
  font-size: var(--svg_size);
  margin-right: 0.5rem;
}

input
{
  text-decoration: none;
  color: var(--color_primary);
  outline: none;
  border: 2px solid var(--color_primary);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.85rem;
  font-family: var(--font_family_primary);
  font-size: var(--font_size_regular);
  cursor: text;
}

.button_primary, .dashedBtn, .inputWrapper input
{
  background-color: var(--color_primary);
  text-decoration: none;
  color: var(--color_accent_light);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.85rem;
  font-family: var(--font_family_primary);
  font-size: var(--font_size_regular);
  cursor: pointer;
}
.dashedBtn
{
  background-color: var(--color_secondary_light);
  color: var(--color_primary);
  border: 2px dashed var(--color_primary);
}

.marginLine
{
  width: 100%;
  height: 1px;
  background-color: var(--color_primary);
  margin: 0.85rem 0;
}
.dashedBorder
{
  border: 2px dashed var(--color_primary);
}

.effect:hover
{
  box-shadow: 4px 4px 0 0 var(--color_primary);
}


/* Input Wrapper */

.inputOuterWrapper .smTxt
{
  font-weight: 600;
  padding: 0 0.5rem;
}
.inputWrapper
{
  border: 2px solid var(--color_primary);
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: left;
  --pd: 0.85rem;
  margin-top: 0.35rem;
  width: fit-content;
}

.inputSvg
{
  padding:var(--pd);
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color_primary);
}

.inputSvg svg
{
  margin: 0;
}
.inputWrapper input
{
  --size: 300px;
  min-width: var(--size);
  max-width: var(--size);
  padding:var(--pd);
  color: var(--color_primary);
  background-color: transparent;
}

.textArea
{
    width: 100%;
    height: inherit;
    font-family: var(--font_family_primary);
    font-size: var(--regularTxt);
    padding: 0.5rem;
    border:2px solid var(--color_primary) ;
    border-radius: 0.25rem;
    outline: none;
    color: var(--color_primary);
    caret-color: var(--color_primary);
    cursor: text;
}


.danger
{
  color: var(--color_danger);
  border-color: var(--color_danger);
}

.succeed
{
  color: var(--color_success);
  border-color: var(--color_success);
}

.dim
{
  color:var(--color_secondary) ;
}