
.navbarContainer{
  background-color: var(--color_background_light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.25rem;
}

.navbarHeader
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarHeader svg
{
  font-size: 1.5rem;
}

.navListItems ul li
{
  list-style: none;
  text-align: center;
  margin: 0.85rem 0;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 0.05px solid var(--color_accent_light);
}
.navListItems ul li a, .navProfile a
{
  padding: 1.25rem 2.85rem;
  text-decoration: none;
  width: 100%;
  color: inherit;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navListItems ul li a.active
{
  color: var(--color_secondary);
  font-weight: 600;
}

.navProfile
{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--color_primary);
  color: var(--color_accent_light);
  cursor: pointer;
  border-radius: 0.25rem;
  min-width: calc(var(--w) - 50px);
}


.navProfile svg
{
  margin-right: 0.5rem;
}


/* home page */

.headerHpNavbarWrapper
{
  flex-direction: row;
  padding: 0.5rem var(--sides_padding);
}
.headerHpNavListItems .navbarHeader
{
  margin-right: 2rem;
}
.headerHpNavListItems, .headerHpNavListItems ul
{
  display: flex;
}

.headerHpNavListItems ul li
{
  border-bottom: none;
  margin: 0;
}

.headerHpNavListItems ul li a, .headerHpActions a
{
  padding:0;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: inherit;
  border-radius: 0.25rem;
}


.headerHpActions
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.85rem;
  text-decoration: none;
}

.headerHpActions a:nth-child(1){
  border: 2px solid;
}

.headerHpActions a:nth-child(2){
  background-color: var(--color_primary);
  color: var(--color_background);
  border: 2px solid var(--color_primary);
}