
.registerWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10vh 0;
}

.registerInner
{
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 10px rgb(243, 243, 243);
    border: 2px solid rgb(223, 223, 223);
}

.userEmail
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 0.85rem 0;
}
.userEmail button
{
    width: 100%;
}

.userEmail input
{
    flex-shrink: 2;
    width: unset;
    min-width: unset;
    max-width: unset;
    width: 180px;
    text-align: center;
    letter-spacing: 5px;
    font-size: var(--font_size_regular);
    font-weight: bold;
}

.passwordContainer
{
    margin: 1rem 0;
}
.registerButton button
{
    width: 100%;
}